# API
VITE_API_URL=http://localhost:8000/api/v1

# App
VITE_APP_NAME=MediCenter
VITE_APP_DESCRIPTION=Plataforma de Certificación

# Contact
VITE_CONTACT_PHONE=+57 312 537 0218
# VITE_CONTACT_EMAIL=contacto@certify.com
VITE_CONTACT_EMAIL=crtquiza@gmail.com

VITE_CONTACT_CITY_COUNTRY=Bogotá, Colombia

# Features
VITE_SHOW_TEACHER_ROLE=False
VITE_HIDE_COURSES_FOR_ADMIN=True
VITE_DEFAULT_LOCALE=es-CO

# Pagination defaults
VITE_PAGE_SIZE=10
